@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TALLER 1 MVC Y WEB API CON .NET CORE</h1>
    <p>Esta es una breve descripcion de la pagina de bienvenida a usuarios nuevos sin autenticar</a>.</p>
</div>
